body {
    background-color: #1A1A2E;
}

#input {
    margin-top: 50px;
    width: 100%;
    border-radius: 15px;
    border-style: none;
    height: 30px;
}

#tampilan {
    margin-top: 30px;
}

.buku {
    text-decoration: none;
}