body {
    background-color: #1A1A2E;
}
.margin {
    margin-top: 30px;
}
.judul, .switch:hover {
    color: #A6DCEF;
}
.switch {
    color: #E94560;
}
.switch:hover {
    text-decoration: none;
}
.submit {
    font-size: 20px;
    border: none;
    background-color: #A6DCEF;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
.submit:hover {
    width: 100px;
}
.error {
    color: red;
}
.logout {
    margin-top: 75px
}