body {
    background-color: #1A1A2E;
}

.batas {
    margin-top: 15px;
}

.pertanyaan {
    background-color:  #A6DCEF;
    margin-top: 5px;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
}

.active, .pertanyaan:hover {
    background-color:  #E94560;
}

.pertanyaan:after, .active:after {
    content: 'V';
    font-weight: bold;
    float: right;
}

.active:after {
    transform: rotate(180deg);
}

.jawab {
    font-size: 20px;
    background-color: #0F3460;
    color: #A6DCEF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: flex;
    padding: 0 15px;
}