.topnav {
    background-color: #0F3460;
}
.hover {
    color: #E94560;
    margin-right: 15px;
}
.hover:hover {
    color: #1A1A2E;
}
.navbar-link:hover {
    text-decoration: none;
}
.kanan {
    margin-left: auto;
}