<!DOCTYPE html>
{% load static %}

<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'ajax.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Homepage</title>
    </head>
    
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <input id="input" placeholder="Type to search...">
                </div>
            </div> 
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h3 id="tampilan"></h3>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#input").keyup(function() {
                var isian = $("#input").val();
                var url_isian = 'https://www.googleapis.com/books/v1/volumes?q=' + isian;
                $.ajax ({
                    url : url_isian,
                    success : function(tampilan) {
                        console.log(tampilan.items);
                        var objek_hasil = $("#tampilan");
                        objek_hasil.empty();

                        for (i=0; i<tampilan.items.length; i++) {
                            var tmp_title = tampilan.items[i].volumeInfo.title;
                            var tmp_thumbnails = tampilan.items[i].volumeInfo.imageLinks.smallThumbnail;
                            var tmp_link = tampilan.items[i].volumeInfo.canonicalVolumeLink;
                            console.log(tmp_title);
                            objek_hasil.append('<a href=' + tmp_link + ' target="_blank" style="text-decoration: none; color: #A6DCEF;">' + tmp_title + '</a> <br> <img src=' + tmp_thumbnails + ' style="width: 180px; height: 240px"> <br><br>');
                        }
                    }
                });
            });
        </script>
    </body>
    
</html>
