<!DOCTYPE html>
{% load static %}

<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'javascript.css' %}">
        <title>Homepage</title>
    </head>
    
    <body>

        <div class="batas">
            <button class="pertanyaan">Apa bedanya fitnah sama fitness?</button>
            <div class="jawab">
                <p class="jawaban">Kalau fitnah, kejam. Kalau fitness, ke-gym</p>
            </div>
    
            <button class="pertanyaan">Pulau apa yang selalu santai?</button>
            <div class="jawab">
                <p class="jawaban">Pulau selowsi</p>
            </div>
    
            <button class="pertanyaan">Sapi, sapi apa yang bisa nempel di tembok?</button>
            <div class="jawab">
                <p class="jawaban">Stiker sapi</p>
            </div>
    
            <button class="pertanyaan">Hantu apa yang ngga pernah jujur?</button>
            <div class="jawab">
                <p class="jawaban">Sundel bohong</p>
            </div>
    
            <button class="pertanyaan">Kenapa ada hari guru, tapi ngga ada hari dosen?</button>
            <div class="jawab">
                <p class="jawaban">Karena doesn't</p>
            </div>
    
            <button class="pertanyaan">Siapa rapper yang sering batal puasa?</button>
            <div class="jawab">
                <p class="jawaban">Eminum</p>
            </div>
    
            <button class="pertanyaan">Huruf apa yang paling dingin?</button>
            <div class="jawab">
                <p class="jawaban">Huruf B, karena ada di tengah-tengah AC</p>
            </div>
        </div>

        <script>
        var acc = document.getElementsByClassName("pertanyaan");
        var i;
        for (i=0; i<acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var jawab = this.nextElementSibling;
                if (jawab.style.maxHeight) {
                    jawab.style.maxHeight = null;
                } else {
                    jawab.style.maxHeight = jawab.scrollHeight + "px";
                } 
            });
        }
        </script>

    </body>
</html>
