<!DOCTYPE html>
{% load static %}

<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'akun.css' %}">
        <title>Homepage</title>
    </head>
    
    <body>
        <div class="container">

            <form action="{% url 'web:logIn' %}" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center margin">
                    <div class="col-md-2">
                        <h4 class="judul">Username</h4>
                    </div>
                    <div class="col-md-10">
                        {% csrf_token %}
                        {{ form.username }}
                    </div>
                </div>

                <div class="row justify-content-center margin">
                    <div class="col-md-2">
                        <h4 class="judul">Password</h4>
                    </div>
                    <div class="col-md-10">
                        {% csrf_token %}
                        {{ form.password }}
                        {% if akun %}
                            <h5 class="error">
                                The account doesn't exist. Please try again or
                                <a href="{% url 'web:signIn' %}" class="switch">Sign In</a>
                            </h5>
                        {% endif %}
                    </div>       
                </div>

                <div class="row margin">
                    <div class="col-sm-3">
                        <input class="submit" type="submit" value="Submit">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 margin">
                        <a href="{% url 'web:signIn' %}" class="switch">
                            <h5>Don't have an account yet?</h5>
                        </a>
                    </div>   
                </div>
            </form>
        </div>

    </body>
</html>
