<!DOCTYPE html>
{% load static %}

<html lang="en">
    {% include "navbar.html" %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'akun.css' %}">
        <title>Homepage</title>
    </head>
    
    <body>
        <div class="container">
            <div class="row justify-content-center  logout">
                <div class="col-md-12 text-center">
                    <h2 class="judul">You've logged out. Try again?</h2>
                </div>
            </div>
    
            <div class="row justify-content-center  logout">
                <div class="col-sm-2 m-2 text-center">
                    <a href="{% url 'web:logIn' %}">
                        <button class="submit" type="submit">Login</button>
                    </a>
                </div>
                <div class="col-sm-2 m-2 text-center">
                    <a href="{% url 'web:signIn' %}">
                        <button class="submit" type="submit">Sign In</button>
                    </a>
                </div>
                <div class="col-sm-2 m-2 text-center">
                    <a href="{% url 'web:index' %}">
                        <button class="submit" type="submit">Home</button>
                    </a>
                </div>
    
            </div>
        </div>
    </body>
</html>
