<!DOCTYPE html>
{% load static %}

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'navbar.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Story Aryuda</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark topnav">
      <a class="navbar-link" href="{% url 'web:index' %}">
        <h4 class="home hover">Home</h4>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'web:javascript' %}">
            <h4 class="hover">Story 7</h4>
          </a>
          <a class="nav-link" href="{% url 'web:cari' %}">
            <h4 class="hover">Cari Buku</h4>
          </a>
        </div>

        <div class="navbar-nav kanan">
          {% if user.is_authenticated %}
            <a class="nav-link" href="/">
              <h4 class="hover">{{user.username}}</h4>
            </a>
            <a class="nav-link" href="{% url 'web:logOut' %}">
              <h4 class="hover">Logout</h4>
            </a>
          {% else %}
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'web:logIn' %}">
                <h4 class="hover">Login</h4>
              </a>
              <a class="nav-link" href="{% url 'web:signIn' %}">
                <h4 class="hover">Sign In</h4>
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </nav>

  </body>
</html>

